@import url('css/bootstrap.css');
@import url('css/bootstrap-rtl.css');
@import url('css/font-awesome.css');

.imgsize
{
	margin-top:10px;
	height: 100px;
	width: 100px;
}
.line
{
	margin-top: 10px;
	background: black;
	height: 2px;
	border-right: red 50px solid;
	border-left: red 50px solid;
}
.btn_control
{
	margin-top:10px ;
	margin-bottom: 10px
}

.imgcenter {
    display: block;
    margin: auto;
    width: 40%;
}
.bkgcolor
{
	 background-color:#e6e6e6;

}

