@import url('css/bootstrap.css');
@import url('css/bootstrap-rtl.css');
@import url('css/font-awesome.css');

.imgsize
{
	height: 100px;
	width: 100px;
}
.line
{
	margin-top: 10px;
	background: black;
	height: 2px;
	border-right: red 10px solid;
	border-left: red 10px solid;
}
.btn_control
{
	margin-top:10px ;
	margin-bottom: 10px
}